textarea{
	width: 200px;
	height: 100px;
}
footer{
	background-colour:grey;
}
 */

.wow {
  width: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:wght@400;500;600&display=swap');

/* general styles throughout site */
:root{
    --primary: #1752fe;
    --primaryHover: #1540c4;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    max-width: 1300px;
    padding: 0.2rem 1.5rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.inTextLink{
    color: var(--primary);
    transition: all 0.2s ease-in;
}

.inTextLink:hover{
    text-decoration: underline;
}

.infoHeadings{
    font-size: 2.5rem;
    font-weight: 600;

}

.aboutUs, .searchSection, .contactUs{
    margin-top: 5.375rem;
}

.shadow{
    box-shadow: 6px 9px 28px 0px rgba(0,0,0,0.2);
  /*  -webkit-box-shadow: 6px 9px 28px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 6px 9px 28px 0px rgba(0,0,0,0.2);*/
}

















/* load screen */

    /* nav bg */
header{ 
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: backdrop-filter, padding, background 0.5s ease;
		background: blue;opacity:90%;
		color: white;
		box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.3);
}


    /* nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
		padding: 5px 5px;
}
nav li{
	display: inline;
	
}
li a{
	color: white;
	padding: 14px 16px;
	margin: 4px 4px;
  text-decoration: none;
}
/*
nav .menu{
    display: none;
}*/

.siteLogo{
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}

.burgerMenu{
    cursor: pointer;
}
		

.line{
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 30px;
    display: block;
}

.line2{
    margin: 0.3rem 0;
}

    /* video bg */

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -9;
}














    /* landing page text */
main{
    min-height: 100vh;
    position: relative;
}

.landingText{
    padding-top: 8.4375rem;
    text-align: center;
}

.landingText h1{
    line-height: 1.1;
    color: white;
}

.landingText p{
    color: #c5d1f5;
    font-size: 1rem;
    margin-top:1.25rem;
}

.ctaContainer{
    margin-top:3.125rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cta{
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
}

.cta1{
    color: white;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    /* margin-right: 0.9375rem; */
    margin-bottom: 1rem;
    transition: background 0.25s ease-in;
}
.cta1:hover{
    background-color: var(--primaryHover);
}

.cta2{
    border: 1px solid #c5d1f5;
    color: #c5d1f5;
    padding: 0.5rem 2rem;
    transition: background 0.25s ease-in;
		background-color:rgba(3, 3, 48, 0.3);; 

}

.cta2:hover{
    background-color: rgba(191, 222, 255, 0.3);
}

.stats{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    margin-bottom: 1.5625rem;
}

.stat1{
    margin-right: 3.75rem;
}

.stat{
    color: #c5d1f5;
    text-align: center;
}

.stat span{
    color: var(--primary);
}

.stat h2{
    font-size: 2.5rem;
}

.stat p{
    margin-top: -10px;
    font-size: 1.125rem;
}




/* about us section */


    /* purpose */

.purpose{
    text-align: center;
}

.purpose h1{
    width: 90%;
    margin: auto;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

.purpose p{
    margin-bottom: 2rem;
}


.purpose img{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

    /* price */

.price{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price .left{
    order: 2;
    display: flex;
    flex-direction: column;
}

.right{
    order: 1;
}

.price .right h1{
    line-height: 1.2;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 1.25rem;
    margin-top: 5.375rem;
}

.price .right p{
    font-size: 1rem;
    margin-bottom: 2rem;
}


.price .left h1{
    font-size: 6rem;
    text-align: center;
}
.price .left h1 span{
    color: var(--primary);
}

.price .left > p{
    text-align: center;
    color: #303953;
    font-weight: 600;
    font-size: 0.9375rem;
    margin-top: -35px;
}




/* search section*/

.searchBar label{
    font-size: 1.125rem;
}

.searchBar{
    width: 80%;
    margin: auto;
}

.searchBar input{
    background: rgba(211, 227, 253, 0.3);
    outline: none;
    border: none;
    padding: 0.8rem 0.9rem;
    border-radius: 15px 0 0 15px;
    width: 100%;


}

.barContainer{
    display: flex;
    margin-top: 0.5rem;
}

.barContainer button{
    background: var(--primary);
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    
}

.barContainer button img{
    width: 110%;
    margin-top: 0.4rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
}


/* contact section */
.contactUs{
    margin-bottom: 5.375rem;
}
.contactUs h1{
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1.875rem;
}

.contactUs p{
    text-align: center;
    font-size: 1rem;
}

.contactForm{
    display: flex;
    flex-direction: column;
    background-color: #F5F2F2;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
}

.contactForm input{
    padding: 0.7rem 0.5rem 0 0.2rem;
}

.contactForm input, .contactForm textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;

}

.contactForm textarea{
    resize: none;
}

.contactForm button{
    margin-top: 1.25rem;
}

.contactForm label{
    font-size: 1.125rem;
    font-weight: 500;
}

.contactForm input{
    margin-bottom: 1.25rem;
}

.contactForm button{
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
    cursor: pointer;
}
.contactForm button:hover{
    background-color: var(--primaryHover);
}


/* footer */

footer{
    background: #091c55;
    padding: 0.5rem 0;
}

.footerLogo{
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
}

footer .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footerMenu{
    margin-top: 25px;
    list-style: none;
    font-size: 16px;
    text-align: center;
}

.footerMenu li{
    margin-bottom: 10px;
}
.footerMenu a{
    color: white;
}

/* RESPONSIVE STYLES */

@media (min-width: 500px){
    .landingText h1{
        font-size: 2.8125rem;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .ctaContainer{
        flex-direction: column;
        max-width: 100%;
   /*     justify-content: center;*/
    }

    .cta1{
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .price .left h1{
        font-size: 6.8rem;
        text-align: center;
    }
}

@media (min-width: 500px){
    
}

	/*FOR CLOCK*/
	h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  color: #fff;
}
.hide {
  display: none;
}


/* 500, 768, 900, 1024, 1300  */


.ctaContainer{
    margin-top:3.125rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}